[Unit]
Description=Allora Node Service
After=network.target

[Service]
Restart=always
ExecStart=/root/go/bin/allorad --home={{ app_home }} start --moniker={{ moniker }} --minimum-gas-prices=0{{ denom }} --rpc.laddr=tcp://0.0.0.0:26667 --p2p.seeds={{ seeds }} --log_level "*:error,state:info,server:info,rewards:debug,inference_synthesis:debug,topic_handler:debug"
User=root

[Install]
WantedBy=multi-user.target
