[Unit]
Description=Allora node
After=network-online.target

[Service]
User=root
WorkingDirectory={{ ALLORA_HOME }}
ExecStart=/root/go/bin/allorad start --home {{ ALLORA_HOME }}
Restart=on-failure
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
