[Unit]
Description=Allora Worker
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
WorkingDirectory={{ hf_repo_dir }}
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target