[Unit]
Description=Allora Node Service
After=network.target

[Service]
Restart=always
ExecStart=/root/go/bin/allorad --home={{ app_home }} start --moniker={{ moniker }} --minimum-gas-prices=0{{ denom }} --rpc.laddr=tcp://0.0.0.0:26667 --p2p.seeds={{ seeds | replace("\n", "") }} --p2p.persistent_peers={{ peers | replace("\n", "") }}
User=root

[Install]
WantedBy=multi-user.target
