version: '3'

services:
  worker-eth:
    container_name: worker-eth
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - INFERENCE_API_ADDRESS=http://127.0.0.1:8000
      - HOME=/data
      - TOPIC_ID=1  # ETH
    entrypoint:
      - "python3"
      - "-u"
      - "/app/model_prophet.py"
    ports:
      - "2112:2112"
    volumes:
      - ./price-prediction-worker:/app
    working_dir: /datav
    network_mode: "host"

  worker-btc:
    container_name: worker-btc
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - INFERENCE_API_ADDRESS=http://127.0.0.1:8000
      - HOME=/data
      - TOPIC_ID=3  # BTC
    entrypoint:
      - "python3"
      - "-u"
      - "/app/model_prophet.py"
    ports:
      - "2113:2112"
    volumes:
      - ./price-prediction-worker:/app
    working_dir: /data
    network_mode: "host"

  worker-sol:
    container_name: worker-sol
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - INFERENCE_API_ADDRESS=http://127.0.0.1:8000
      - HOME=/data
      - TOPIC_ID=5  # SOL
    entrypoint:
      - "python3"
      - "-u"
      - "/app/model_prophet.py"
    ports:
      - "2114:2112"
    volumes:
      - ./price-prediction-worker:/app
    working_dir: /data
    network_mode: "host"

volumes:
  price-prediction-worker: